*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    font-family: "Arial";
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}
.t1{
    font-family: "Verdana";
    font-size: 20px;
    font-size: oblique; 
    font-weight: 500;
}
.t2{
    font-family: "Times New Roman";
    font-size: 20px;
    font-size: inherit; 
    font-weight: 300;
}
.t3{
    font-family:"Gill Sans";
    font-size: 20px;
    font-size: oblique; 
    font-weight: bold;
}
.t4{
    font-family: "Lucida Console";  
    font-size: 20px;
    font-size: italic; 
    font-weight: 500;
}
.di{
    text-decoration-line: overline;
}
.d2{
    text-decoration-line: line-through; 
}
.d3{
    text-decoration-line: underline;    
}
.d4{
    text-decoration: 7px double underline red;
}
.d5{
   text-decoration: 2px dashed overline gold;
}
.d6{
    text-decoration: 5px dotted line-through blue;    
}